div#maincont {
  background-color: White;
  margin: 0px auto;
}

footer {
  color: White;
  background-color: #6a9273;
}

footer {
  height: 16pt;
  padding: 0px 10px;
}

footer p {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
  margin: 0px;
}

div#table {
  display: table;
}

div#table > div {
  display: table-row;
}

div#table > div > * {
  display: table-cell;
  vertical-align: top;
}

/*nav {*/
/*  width: 220px;*/
/*  padding: 10px;*/
/*}*/

section {
  width: 720px;
  padding: 10px;
}
