<div fxFlex fxLayout fxLayoutAlign="flex-end">
  <span>
    <a routerLink="/" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">Главная
    </a>
  </span>
  <span>
    <a *ngIf="role === 'a'" routerLink="/user" routerLinkActive="active-link">Пользователи</a>
  </span>
  <span class="filler"></span>
  <span>
    <a *ngIf="role === ''" routerLink="/auth/login" routerLinkActive="active-link">Вход</a>
  </span>
  <span>
    <a *ngIf="role !== ''" routerLink="/auth/logout" routerLinkActive="active-link">Выход</a>
  </span>
</div>
