# Make index.html handle any 404 errors.
ErrorDocument 404 /index.html

# Pass all requests not referring directly to files in the filesystem to
# index.html. Clean URLs are handled in drupal_environment_initialize().
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^ /index.html [L]


#RewriteEngine On
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
#RewriteRule ^ - [L]
#RewriteRule ^ /index.html
