/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css"; [@import '~@angular/material/prebuilt-themes/indigo-pink.css';]*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body, .mat-sidenav-container { height: 100vh; }

.mat-sidenav-container{
  .mat-sidenav{
    width: 200px;
    background:#999999;
  }
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0px;
}
p, td, th {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14pt;
}
h1, h2, h3, h4 {
  font-family: Verdana, sans-serif;
}
h1 {
  font-size: 36pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 16pt;
}
a:link {
  /*color: #81b083;*/
  text-decoration: none;
}
a:active, a:hover {
  /*color: #81b083;*/
  text-decoration: underline;
}
a:visited {
  /*color: #87d291;*/
  text-decoration: none;
}

.mat-drawer-inner-container{
  padding: 5px;
}

.filler {
  flex: 1 1 auto;
}
